#showcase {
    /* background: url('../images/pexels-dennis-magati-862848.jpg') no-repeat center center/cover; */
    /* background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('../images/pexels-fotografierende-3150553.jpg') no-repeat center center/cover; */
    /* background: url('../images/pexels-dennis-magati-862848.jpg') no-repeat center center/cover; */
    height: 800px;
  }
  
  #showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
  }
  
  #showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
  }
  
  #showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
  }


/* Categories */
.category {
      display: flex;
      flex-direction: row;
      height: 400px;
  }

.half {
    width: 50%;   
    min-height: 100%;
}

/* #category-1 {
    background: url('../images/pexels-august-de-richelieu-4262185.jpg') no-repeat center center/cover;
}

#category-2 {
    background: url('../images/pexels-josé-luis-photographer-2576788.jpg') no-repeat center center/cover;
}

#category-3 {
    background: url('../images/tech1.jpg') no-repeat center center/cover;
} */


.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover
  }