.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.wrapper {
    padding-top: 50px;
}



header {
    background: var(--dark-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--main-font);
    color: var(--primary-color-muted);
    z-index:1000;
}

header h1 {
    letter-spacing: 3px;
}


.progressBarContainer {
    display: flex;
    justify-content: center;
}

.outer-container {
    max-width: 1400px;
    margin: auto;
}

.error {
    font-weight: bold;
    font-size: 2em;
    background-color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: #fff;
    cursor: pointer;
}

.btn-small {
    padding: 10px;
    border-radius: 5px;
    background: #3db395;
}

.btn-small:hover {
    border-radius: 5px;
    background: #49c1a2;
}
.btn-warning {
    background: #d11a2a;
}

.btn-warning:hover{
    background: #e63847;
}




.h1-title {
    color: var(--dark-color);
    border-bottom: 8px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
}