
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar h1 {
    /* float: left; */
    margin: auto 0;
}

.h1-navbar {
    display: flex;
    align-items: center;
    float:left;
}

#navbar ul {
    list-style: none;
    float: right;
}
  
#navbar ul li {
    float: left;
    padding: 20px;
    
}

.nav-tabs {
    display: flex;
    align-items: center;


}

#navbar ul li:hover {
    background: #444;
    color: #f7c08a;
}

.navbar-container {
    margin: auto;
    overflow: auto;
    padding: 0 20px;
  }
  
.button-control {
    border: none; 
    background: none;

}